.header {
    height:15vh;
    background:#000099;
    position:relative;
}

.header img {
    margin-top:1vh;
    margin-left:1vh;
    height:13vh;
}

.header button {
    position:absolute;
    right:1vh;
    top:1vh;
    width:100px;
}

.settings-button {
    position:absolute;
    right:0vh;
    top:5vh;
}

.nav-tabs > li, .nav-pills > li{
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs, .nav-pills {
    text-align:center;
    position:absolute;
    bottom:0;
    width:100vw;
}
